{% extends "base.html.twig" %}
{% block title %}

	List des annonces

{% endblock %}

{% block body %}
	<h1>List des annonces</h1>

	{% for annonce in annonces %}
		<article>
			<h2>
				<a href="/PHP/MVC_Annonces/annonces/lire/{{annonce.id}}">{{annonce.title}}</a>
			</h2>
			<p>{{annonce.description}}</p>
		</article>

	{% endfor %}


{% endblock %}
