{% extends 'base.html.twig' %}

{% block title %}
	Detail annonce
{% endblock %}

{% block body %}
<h1>{{ annonce.title }}</h1>


<article>
    <p>{{ annonce.description }}</p>
</article>
{% endblock %}



