{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
<h1>Inscription</h1>
{{ registerForm|raw }} 
<a href="/PHP/MVC_Annonces/users/login">Deja inscrit?</a>
{% endblock %}